<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.hyunprise.backend.domain.coupon.mappers.IssuedCouponMapper">
    <select id="selectAllCouponSummaryOfMemberByStatus" parameterType="IssuedCoupon" resultType="CouponSummary">
        SELECT
            ic.issued_coupon_uuid,
            c.coupon_name,
            ic.status,
            ic.expiration_date
        FROM issued_coupon ic
        JOIN coupon c ON c.coupon_uuid = ic.coupon_uuid
        WHERE ic.member_uuid = #{issuedCoupon.memberUUID}
        <if test="available == true">
          AND status &lt;= 2
        </if>
        <if test="available == false">
            AND status &gt;= 3
        </if>
        ORDER BY ic.expiration_date ASC
    </select>


    <select id="selectOneCouponDetailByIssuedCouponUUID" parameterType="String" resultType="CouponDetail">
        SELECT
        ic.issued_coupon_uuid,
        c.coupon_name,
        c.coupon_description,
        c.discount_type,
        c.discount_amount,
        c.discount_limit,
        c.minimum_purchase,
        c.retailer_location,
        c.terms_and_conditions,
        c.usage_instruction,

        ic.coupon_uuid,

        ic.status,
        ic.coupon_code,
        ic.issue_date,
        ic.expiration_date
        FROM issued_coupon ic
        JOIN coupon c ON c.coupon_uuid = ic.coupon_uuid


        WHERE ic.issued_coupon_uuid = #{issuedCouponUUID}
    </select>

    <select id="selectOneCoupon" parameterType="Integer" resultType="Coupon">
        SELECT *
        FROM coupon
    </select>

    <insert id="createOneIssuedCoupon" statementType="CALLABLE" parameterType="map">
        {call insert_issued_coupon(
            #{memberUUID},
            #{couponUUID},
            #{issuedCouponUUID, mode=OUT, jdbcType=VARCHAR})
        }
    </insert>
</mapper>